<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="/css/stylesDetail.css" />

<!-- Header -->

    <%- include("./partials/head") %>
<body>

<!-- Head -->

    <%- include("./partials/header") %>

</body>

<!-- footer -->

<%- include("./partials/footer") %>

</html>