«<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Listado de usuarios'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
 
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Listado de usuarios</h2>
			</div>

			<% usuarios.forEach(function(user){ 
				 
			%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<h2><%= user.first_name %></h2> 
					</section>
				</div>
				<% }) %>
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>