<script>
    window.onload = function(){
        let inputEmail = document.getElementById("email");
        let inputPassword = document.getElementById('password');
        let form = document.getElementById("form");


        // Se capturan los Ul de errores -------------
        let emailErrors = document.getElementById("emailErrors");
        let passwordErrors = document.getElementById('passwordErrors');

        form.addEventListener("submit", (e) => {

        e.preventDefault();

        // Se inicializan los Arr de errores -------------
        let emailErrorsAcu = 0;
        let passwordErrorsAcu = 0;

        // Se definen las validaciones -------------

        // Validaciones de Email

        var expReg = /^\w+([.-_+]?\w+)*@\w+([.-]?\w+)*(\.\w{2,10})+$/ ;  //expresion regular para validar email
        var esValido = expReg.test(inputEmail.value)

        console.log(esValido)
        if (inputEmail.value === "") {
            emailErrors.innerHTML = "";
            emailErrors.innerHTML += '<li class="feedback">' + "Debes introducir un email" + '</li>';
            emailErrorsAcu++;
        }else if (esValido == false) {
        emailErrors.innerHTML = "";
        emailErrors.innerHTML += '<li class="feedback">' + "Debes introducir un formato de email válido" + '</li>';
        emailErrorsAcu++;
        }else {
            emailErrors.innerHTML = "";
            emailErrorsAcu = 0;
        }

        // Validaciones de Password
        if (inputPassword.value === "") {
            passwordErrors.innerHTML = "";
            passwordErrors.innerHTML += '<li class="feedback">' + "Debes introducir una contraseña" + '</li>';
            passwordErrorsAcu++;
        } else {
            passwordErrors.innerHTML = "";
            passwordErrorsAcu = 0;
        }

        // Se suman los acumuladores de errores ------------------
        let AcuErrors =
            emailErrorsAcu +
            passwordErrorsAcu;


        // Si no hay errores se hace el submit del formulario
        if (AcuErrors === 0) {
            form.submit();
        }

        })
    }
</script>