.top-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.lupita {
  color: black;
  background-color: white;
  border-radius: 15px;
  display: inline;
  position: absolute;
  left: 40%;
  width: 200px;
  margin-top: 0.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.campo {
  border: none;
}

.logoybuscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5%;
}
.botones i {
  margin-left: 5px;
  margin-right: 5px;
}

.section-cart {
  border: 1px solid black;
  width: 28%;
  position: absolute;
  left: 70%;
  text-align: left;
  background-color: lightgrey;
}

.product-cart {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

.button-cart {
  margin-top: 5px;
  text-align: center;
  background-color: blue;
  color: white;
  font-weight: 500;
}

.product-addremove-cart {
  border: 1px black solid;
  border-radius: 8px;
  margin-top: 5px;
  width: 20%;
  padding-right: 8%;
  margin-bottom: 90px;
}

.product-image-min{
  border-radius: 16px;
  margin-top: 8px;
  margin-left: 8px;
}

.prodcut-price-cart {
  display: flex;
}