*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   text-decoration: none;

}
.banner{
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    left: 0%;
}
body{
    background-color: whitesmoke;
}

/*------------------------SLIDER-------------------------------*/
.slider{
 width: 100%;
 height: 800px;
 overflow: hidden;
}

.slider ul{
   display: flex;
   animation: cambio 15s infinite alternate linear;
   width: 300%;
}

.slider li{
   width: 100%;
   list-style: none;
}

.slider img{
   width: 100%;
   height: 100%;
}
@keyframes cambio{
   0%{margin-left: 0;}
   20%{margin-left: 0;}
   40%{margin-left: -100%;}
   60%{margin-left: -100%;}
   90%{margin-left: -200%;}
   100%{margin-left: -200%;}
}
/*-------------------------SLIDER-----------------------------*/
.novedades article{
   box-sizing:content-box ;
   display: inline-flex;
   justify-content: space-between;
   padding: 2%;
   width: 15%;
   border-radius: 30%;
   text-align: center;
}
.novedades article img{
   display: inline-flex;
   border-radius: 30%;
   text-align: center;
}
.categorias{
   display: flex;
   flex-flow: row wrap;
   width: 150%;
}

/* 
.categorias img{
   width: 100%;
}
.categorias a{
   justify-content:space-between; 
   background-color: white;
   margin: 20px 30px;
   padding: 3px 5px;
   border-radius: 50%;
   width: 60px;
   box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
   transition: all .4s ease-in-out;
}
.categorias a:hover{
   transform: scale(1.2);
} */
/*------------------------------------TEXTO---------------------------------------*/
.titulo{
   padding-top: 3%;
   padding-bottom: 3%;
   font-family: 'Quicksand', sans-serif;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   color: #1b4f74;
}
.tipo-texto{
   font-size: 26px;
   padding-left: 4%;
   padding-right: 4%;
   padding-top: 5%;
   padding-bottom: 5%;
   font-family: 'Roboto', medium;
   color: #1b4f74;
}
/*------------------------------------TEXTO---------------------------------------*/
@media (min-width: 320px){
   /* Mobile*/
   .slider{
      width: 100%;
      height: 90%;
      overflow: hidden;
   }
   .novedades{
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
   }
   .novedades article{
      display: flex;
      width: 40%; 
   }

   .categorias article{
      display: flex;
      width: 80%; 
   }
   .categorias-main h4{
      color: #242424;
      font-family: 'Roboto', medium;
   }
   .banner-inferior{
      display:flex;
      justify-content: center;
   }
}
@media (min-width: 600px){
   /* Tablet*/
   .slider{
      width: 100%;
      height: 90%;
      overflow: hidden;
   }
   .novedades{
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
   }
   .novedades article{
      display: flex;
      width: 20%; 
   }
}
@media (min-width: 1200px){
   /* PC */
   .novedades{
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
   }
   .novedades article{
      display: flex;
      width: 10%; 
   }
}


.categorias-main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   min-height: 160px;
}

.icono-categoria{
   width: auto;
   text-align: center;
   padding: 10px;
}

 

.icono-categoria img{
   width: 100px;
   transition: all 0.5s
}

.icono-categoria:hover img{
   width: 120px;
}


.nombreProd{
   font-family: 'Quicksand', sans-serif;
   font-weight: 600;
   font-size: 20px;
   text-decoration: none;
   color: #242424;
   margin: 5px;
   margin-bottom: 0px;
}

.precioProd{
   font-family: 'Quicksand', sans-serif;
   font-weight: 800;
   font-size: 22px;
   text-decoration: none;
   color:#1b4f74;
   margin: 5px;
   margin-bottom: 10px;
}

.somos{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   margin-left: -20px;
   margin-right: -20px;
   background-color: #58B4F5;
}

.caja-vermas{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

.botonuno {

	
	background-color:#1b4f74;
	border-radius:8px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
   font-family: 'Quicksand', sans-serif;
   text-transform: uppercase;
	padding:12px 37px;
	text-decoration:none;
   box-shadow: inset 0 0 0 0 #58B4F5;
   transition: ease-out 0.3s ;

   
}
.botonuno:hover {
	box-shadow: inset 300px 0 0 0 #58B4F5;
	background-color:#58B4F5;
}
.botonuno:active {
	position:relative;
	top:1px;
}
.campos{
   margin: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.campos input{
   width: 100%;
   height: 30px;
   border-radius: 6px;
   border: 1px solid gray;
   margin-top: 5px;
}

.campos button{
   width: 100%;
   height: 30px;
   border-radius: 6px;
   border: 1px solid gray;
   margin-top: 5px;
}

.campos .crear:hover{
   background-color: darkmagenta;
   color: white;
}
.caja-form{
   width: 300px;
   background-color: white;
   padding: 15px;
   border-radius: 15px;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 50px;
   margin-top: 50px;

}