*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.banner{
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    left: 0%;
}
body{
    background-color: whitesmoke;
}

/*------------------------SLIDER-------------------------------*/
.slider{
 width: 100%;
 height: 800px;
 overflow: hidden;
}

.slider ul{
   display: flex;
   animation: cambio 15s infinite alternate linear;
   width: 300%;
}

.slider li{
   width: 100%;
   list-style: none;
}

.slider img{
   width: 100%;
   height: 100%;
}
@keyframes cambio{
   0%{margin-left: 0;}
   20%{margin-left: 0;}
   40%{margin-left: -100%;}
   60%{margin-left: -100%;}
   90%{margin-left: -200%;}
   100%{margin-left: -200%;}
}
/*-------------------------SLIDER-----------------------------*/
.novedades article{
   box-sizing:content-box ;
   display: inline-flex;
   justify-content: space-between;
   padding: 2%;
   width: 15%;
   border-radius: 30%;
   text-align: center;
}
.novedades article img{
   display: inline-flex;
   border-radius: 30%;
   text-align: center;
}

.categorias article img{
   display: inline-flex;
   padding: 3%;
   border-radius: 30%;
}
.categorias article {
   display: inline-flex;
   width: 25%;
   padding: 3%;
   border-radius: 30%;
}

.titulo{
   padding-top: 3%;
   padding-bottom: 3%;
   font-family: 'Josefin Sans', sans-serif;
   text-align: center;
   color: #0F80A4;
}
@media (min-width: 460px){
   /* Mobile*/
   .slider{
      width: 100%;
      height: 90%;
      overflow: hidden;
   }
   .novedades{
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
   }
   .novedades article{
      display: flex;
      width: 40%; 
   }
   .categorias{
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
   }
   .categorias article{
      display: flex;
      width: 80%; 
   }
   .banner-inferior{
      display:flex;
      justify-content: center;
   }
}
@media (min-width: 768px){
   /* Tablet*/
   .slider{
      width: 100%;
      height: 90%;
      overflow: hidden;
   }
}