<!DOCTYPE html> <!-- EN USO-->
<html lang="es">
<link rel="stylesheet" type="text/css" href="/css/stylesDetail.css" />
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos' }) %>

	<body>
		<!-- Header -->
		<%- include('partials/header') %>
			<!-- /Header -->

			<!-- todos los productos -->
			<h2>ADMINISTRADOR</h2>

			



			


			<!-- /todos los productos -->

			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->
	</body>

</html>