<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head") %>

  <body>
    
    <%- include("./partials/header") %>

    <main>
      <section class="section-cart">
        <article class="product-cart">
          <img class="product-image-min" src="./img/Productos/Ropa5-3.jpg" alt="" width="5%"/>
          <div class="product-name-cart">Sombrero de mujer</div>
          <div class="prodcut-price-cart">
            <h4>Precio:</h4>
            $9999.99
          </div>
          <div class="product-addremove-cart">
            <i class="fas fa-minus"></i> 1 <i class="fas fa-plus"></i>
          </div>
        </article>
        <button class="button-cart" type="button">Vaciar Carrito</button>
        <button class="button-cart" type="button">Finalizar Compra</button>
      </section>
    </main>

    <%- include("./partials/footer") %>

  </body>
</html>
