<!DOCTYPE html> <!-- EN USO-->
<html lang="en">

  <%- include("./partials/head") %>

<body>
<!-- Header -->

  <%- include("./partials/header") %>

     <div class="caja-form">

    <h2 class="titulo">¿Perdiste tu contraseña?</h2>
    <p>Ingresá tu e-mail. <br>
        Recibirás un enlace para crear una nueva contraseña</p>
     
    
    <form class="formulario" action="/registro" method="POST">


        <div class="campos">
             <label for="nombre">Email</label>
             <input type="email" name="user" id="">
         </div>
       
         
      
       
        <div class="campos">
           
            <button class="enviar" type="submit"> Reestablecer</button>
        </div>
       
       
       
       





    </form>
 

  </div>





  <!-- footer -->
    
  <%- include("./partials/footer") %>

    
</body>
</html>