.caja-form{
    /*width: 300px;*/
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;

}

.campos{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.campos input{
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid gray;
    margin-top: 5px;
}

.campos button{
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid gray;
    margin-top: 5px;
}

.campos .crear:hover{
    background-color: darkmagenta;
    color: white;
}
.errors{
    color: red
}

@media (min-width: 1000px) {
    .caja-form{
        width: 500px;
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 50px;
        margin-top: 50px;
    
    }
 }
 .errores{
    color: red
}