<header>
    <div class="top-header">
        <div class="imagen-header-logo">
            <a href="/"><img class="imagen-logo" src="/img/Logo.png" alt=""  /></a>
        </div>


        <!-- <form action="POST">
            <div class="lupita">
                <input class="campo" type="text" placeholder="Buscar productos, marcas"><i
                    class="fas fa-search"></i>
                </div>
        </form> -->

        <form action="/search" method="GET" class="search-form">
            <div class="lupita">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </div>
        </form>

        <div class="botones">
            <div class="favoritos-icono"><i class="fas fa-heart"></i></div>
            <a href="/productCart"><div class="carrito-icono"><i class="fas fa-shopping-cart"></i></div></a>
            <a href="/login"><div class="perfil-icono"><i class="fas fa-user-circle"></i></div></a>
        </div>
    </div>
</header>