<!DOCTYPE html>
<html lang="en">
  <!-- Head -->

  <%- include("./partials/head") %>

  <!-- Head -->
<body>
  <!-- Header -->

  <%- include("./partials/header") %>

  <!-- Slider -->

    <div id="slider">
        <ul class="slider">
          <li id="slide1">
            <img src="/img/Portada1.jpg">
            <div class="container">
            <div class="slider-text">
            <div>
              <h1 class="text">Ahora puede realizar
                sus compras online</h1>
              <p>
                Al momento de la compra podrá
                ver todas nuestras opciones de
                pago disponibles
              </p>
              <button>Realizá tu pedido</button>
            </div>
          </div>
          </div>
          </li>
          <li id="slide2">
            <img src="/img/Portada2.jpg">
          </li>
          <li id="slide3">
            <img src="/img/Portada3.jpg">
          </li>
        </ul>
        
        <ul class="menu">
          <li>
            <a href="#slide1"></a>
          </li>
          <li>
            <a href="#slide2"></a>
          </li>
           <li>
            <a href="#slide3"></a>
          </li>
        </ul>
        
      </div>

<!-- Banner -->

      <img class="Banner" src="/img/Banner.jpg" width="100%">

<!-- Main -->

      <main>

        <h2 class="titulo">Novedades</h2>
        <section class="novedades">
            

            <article class="articulo">
              <a href="/detail1"><img style="max-width: 100%;" src="/img/Productos/Ropa1-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/detail2"><img style="max-width: 100%;" src="/img/Productos/Ropa2-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/detail3"><img style="max-width: 100%;" src="/img/Productos/Ropa3-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/detail4"><img style="max-width: 100%;" src="/img/Productos/Ropa4-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/detail5"><img style="max-width: 100%;" src="/img/Productos/Ropa5-1.jpg" alt=""></a>
            </article>

        </section>


        <h2 class="titulo">¿Para quien compras?</h2>
        <section class="categorias">
          
          <article class="articulo">
            <img style="max-width: 100%;" src="/img/Mujer.jpg" alt="">
          </article>

          <article class="articulo">
            <img style="max-width: 100%;" src="/img/Hombre.jpg" alt="">
          </article>

          <article class="articulo">
            <img style="max-width: 100%;" src="/img/Niños.jpg" alt="">
          </article>

        </section>

    </main>

<!-- Banner inferiror -->

    <img class="Banner-inferior" src="/img/Banner inferior.jpg" width="100%">

    <p> </p>
    <section>
      <p></p>
      <h2 class="titulo">Historia</h2>
      <p></p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, rem, saepe id adipisci laudantium ut dolore corporis explicabo voluptas fugit expedita quos consequatur debitis nemo magnam labore, amet doloremque nisi?</p>
    </section>

<!-- footer -->

  <%- include("./partials/footer") %>

</body>
</html>