<!DOCTYPE html>
<html lang="en">
  <!-- Head -->

  <%- include("./partials/head") %>

  <!-- Head -->
<body>
  <!-- Header -->

  <%- include("./partials/header") %>

  <!-- Slider -->

    <div class="slider">
        <ul>
          <li>
            <img src="/img/Portada1.jpg">
          </li>
          <li>
            <img src="/img/Portada2.jpg">
          </li>
          <li>
            <img src="/img/Portada3.jpg">
          </li>
        </ul>       
      </div>

<!-- Banner -->

      <img class="Banner" src="/img/Banner.jpg" width="100%">

<!-- Main -->

      <main>

        <h2 class="titulo">Novedades</h2>
        <section class="novedades">
            

            <article class="articulo">
              <a href="/products/1"><img style="max-width: 100%;" src="/img/Productos/Ropa1-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/products/6"><img style="max-width: 100%;" src="/img/Productos/Ropa2-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/products/11"><img style="max-width: 100%;" src="/img/Productos/Ropa3-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/products/15"><img style="max-width: 100%;" src="/img/Productos/Ropa4-1.jpg" alt=""></a>
            </article>

            <article class="articulo">
              <a href="/products/18"><img style="max-width: 100%;" src="/img/Productos/Ropa5-1.jpg" alt=""></a>
            </article>

        </section>


        <h2 class="titulo">¿Para quien compras?</h2>
        <section class="categorias">
          
          <article class="articulo">
            <img style="max-width: 100%;" src="/img/Mujer.jpg" alt="">
          </article>

          <article class="articulo">
            <img style="max-width: 100%;" src="/img/Hombre.jpg" alt="">
          </article>

          <article class="articulo">
            <img style="max-width: 100%;" src="/img/Niños.jpg" alt="">
          </article>

        </section>

    </main>

<!-- Banner inferiror -->

    <img class="Banner-inferior" src="/img/Banner inferior.jpg" width="100%">

    <p> </p>
    <section>
      <p></p>
      <h2 class="titulo">Historia</h2>
      <p></p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, rem, saepe id adipisci laudantium ut dolore corporis explicabo voluptas fugit expedita quos consequatur debitis nemo magnam labore, amet doloremque nisi?</p>
    </section>

<!-- footer -->

  <%- include("./partials/footer") %>

</body>
</html>