<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clothx - Login</title>
        <link href="css/stylesHome.css" rel="stylesheet" type="text/css">
        <link href="css/stylesRegister.css" rel="stylesheet" type="text/css">

        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
    
    </head>
<body>
<!-- Header -->
<header>
    <div class="top-header">
      <div class="imagen-header-logo">
        <a href="/index"><img class="imagen-logo" src="/img/Logo.png" alt="" width="5%"/></a>
      </div>
      <form action="POST">
      <div class="lupita"><input class="campo" type="text" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i></div>
      </form>
  
    <div class="botones">
      <div class="favoritos-icono"><i class="fas fa-heart"></i></div>
      <div class="carrito-icono"><i class="fas fa-shopping-cart"></i></div>
      <div class="perfil-icono"><i class="fas fa-user-circle"></i></div>
    </div>
  </div>
  </header>
     <div class="caja-form">

    <h2 class="titulo">¡Hola! <br> Ingresá tu usuario y contraseña</h2>
     

    
    <form class="formulario" action="/registro" method="POST">


        <div class="campos">
             <label for="nombre"> Usuario</label>
             <input type="text" name="user" id="">
         </div>
       
        
         <div class="campos">
            <label for="nombre"> Contraseña</label>
            <input type="password" name="pass" id="">
        </div>
      
       
        <div class="campos">
            <input class="enviar" type="submit"> 
        </div>
       
       
       
       





    </form>
    <div class="olvide-y-crear">
        <p class="letra-olvide">Olvide mi contraseña</p>
        <p class="letra-olvide der">Crear cuenta</p>
    </div>

  </div>





  <!-- footer -->
    
  <footer>
    <p>Todo los terminos y derechos estan sujetos a Clothx</p>
  </footer>

    
</body>
</html>