<!DOCTYPE html>
<html lang="en">
  <link href="/css/stylesProductEdit.css" rel="stylesheet" type="text/css" />
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <h2 class="titulo">Editar publicacion de producto</h2>

      <section class="articulo">
        <div class="sombreroEdit">
          <img
            class="product-image-min"
            src="./img/Productos/Ropa5-3.jpg"
            alt=""
            width="15%"
          />
          <div><label for="">Sombrero de mujer</label></div>
          <div><label for="">Precio: $3500.99</label></div>
          <div><label for="">Talles disponibles: S, M, L</label></div>
          <div><label for="">colores disponibles: Azul, Rosa</label></div>
          <div><input type="button" value="Editar" /></div>
        </div>
      </section>
      <section class="articulo">
        <div class="sombreroEdit">
          <img
            class="product-image-min"
            src="./img/Productos/Ropa5-3.jpg"
            alt=""
            width="15%"
          />
          <div><label for="">Sombrero de mujer</label></div>
          <div><label for="">Precio: $3500.99</label></div>
          <div><label for="">Talles disponibles: S, M, L</label></div>
          <div><label for="">colores disponibles: Azul, Rosa</label></div>
          <div class="boton"><input type="button" value="Editar" /></div>
        </div>
      </section>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
