<!DOCTYPE html>
<html lang="en">

  <!-- Head -->

  <%- include("./partials/head") %>

  <!-- Head -->
<body>
  <!-- Header -->

  <%- include("./partials/header") %>
    <hr>
    <main>
        <div class="main1">
            <div class="box1-2">
                <div class="box1">
                    <div><img style="max-width: 100%;" src="/img/Productos/Ropa5-1.jpg" alt="Sombrero Beige"></div>
                </div>
                <div class="box2">
                    <div><img class="img-chica" src="/img/Productos/Ropa5-2.jpg" alt="Sombrero azul"></div>
                    <div><img class="img-chica" src="/img/Productos/Ropa5-3.jpg" alt="Sombrero marron"></div>
                </div>
            </div>
            <div class="box3">
                <div class="titulos">
                    <h2>Sombrero</h2>
                </div>
                <section>
                    <h4>Informacion de producto</h4>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicin</div>
                </section>
                <section><label for="Variantes">
                        <h4>Variantes</h4>
                    </label>
                    <select name="Color">
                        <option value="Beige">Beige</option>
                        <option value="Azul">Azul</option>
                        <option value="Marron">Marron</option>
                    </select>
                </section>
                <section><label for="Talles">
                        <h4>Talles</h4>
                    </label>
                    <input type="radio" id="1" value="1">1
                    <input type="radio" id="2" value="2">2
                    <input type="radio" id="3" value="3">3
                </section>
                <div class="titulo2">
                    <h4>PRECIO</h4>
                    <div class="precio"> $2.000</div>
                </div>
                <br>

                <div class="boton" style="text-align:center"><button>AGREGAR A CARRITO</button></div>
            </div>

        </div>
        <h2 class="titulos">Productos relacionados</h2>
        <div class="flexfotos">
            <div><a href="detail1"><img class="img-chica" src="/img/Productos/Ropa1-1.jpg" alt="Pollera fuxia"></a></div>
            <div><a href="detail2"><img class="img-chica" src="/img/Productos/Ropa2-1.jpg" alt="Short fuxia"></a></div>
            <div><a href="detail3"><img class="img-chica" src="/img/Productos/Ropa3-1.jpg" alt="Camisa amarilla"></a></div>
            <div><a href="detail4"><img class="img-chica" src="/img/Productos/Ropa4-1.jpg" alt="Buzo verde"></a></div>

        </div>
    </main>
    <hr>
    <footer>
        <p>Todo los terminos y derechos estan sujetos a Clothx</p>
    </footer>
</body>

</html>