<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head") %>

<body>
<!-- Header -->

  <%- include("./partials/header") %>

     <div class="caja-form">

    <h2 class="titulo">Datos de registro</h2>
    <p>Completa los siguientes datos para ser usuario de nuestra tienda</p>

    
    <form class="formulario" action="/registro" method="POST">


        <div class="campos">
             <label for="nombre"> Nombre</label>
             <input type="text" name="nombre" id="">
         </div>
       
        
         <div class="campos">
            <label for="nombre"> Apellido</label>
            <input type="text" name="apellido" id="">
        </div>
      
       
        <div class="campos">
            <label for="nombre"> Teléfono</label>
            <input type="tel" name="telefono" id="">
        </div>
      

        <div class="campos">
            <label for="nombre"> Email</label>
            <input type="email" name="email" id="">
        </div>
      

        <div class="campos">
            <label for="nombre"> Contraseña</label>
            <input type="password" name="pass" id="">
        </div>
      

        <div class="campos">
            <label for="nombre"> Confirmar Contraseña</label>
            <input type="password" name="pass2" id="">
        </div>
      
        <div class="campos">
            <input class="enviar" type="submit"> 
        </div>
       
       
       
       





    </form>

    <p class="letra-chica">Al crear una cuenta, aceptas que has leido, entendido, y aceptado la Términos y condiciones y da su consentimiento para cada tipo de transacción que requiera su consentimiento expreso para el procesamiento de sus datos personales bajo la Politica de Privacidad.</p>


  </div>





  <!-- footer -->
    
  <%- include("./partials/footer") %>

    
</body>
</html>