<!DOCTYPE html><!--EN USO-->
<html lang="es">
<link rel="stylesheet" type="text/css" href="/css/stylesDetail.css" />
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos' }) %>

	<body>
		<!-- Header -->
		<%- include('partials/header') %>
			<!-- /Header -->
		<!-- Términos y Condiciones-->
		<h1 class="titulo">TÉRMINOS Y CONDICIONES</h1>
		<br>
		<h4 style="text-align: center"> CLOTHX le da la bienvenida, y agradeciendo su preferencia, le informa e invita a tener presente que:</h4>
		<p class="textojustificado">
			Los términos “CLOTHX”, se refieren a CLOTHX S.A. El término “Usuario” se refiere a las personas que naveguen en el sitio www.clothx.com y/o de la aplicación de CLOTHX para [teléfonos celulares] y/o a través de cualquier otro canal de comercialización utilizado actualmente o que utilice en el futuro Clothx para ofrecer los productos.
www.clothx.com tiene como objetivo ser una tienda comercial virtual para la promoción y comercialización de productos.
Al acceder a https://www.clothx.com/ el usuario (i) garantiza que es mayor de edad; (ii) acepta y adhiere automáticamente a las disposiciones que se encuentran en este documento, denominado Términos y Condiciones de Uso, que deberá ser estrictamente respetado; (iii) posee plena capacidad para celebrar contratos; y (iv) garantiza que toda la información que brinda a Clothx es verídica, exacta, actual y completa..
Se consideran parte integrante de estos Términos y Condiciones de Uso, la Política de Privacidad y la Política de Compra, Cambio y Devolución, así como las demás reglas o términos que puedan ser dispuestos en páginas específicas del sitio www.clothx.com y/o comunicados a los Usuarios mediante notificación.
El solo uso de la plataforma implica la aceptación de todas y cada una de las condiciones generales y particulares incluidas en estos términos y condiciones. Su lectura le permitirá ejercer en mejor forma sus derechos como consumidor. Le sugerimos imprimirlas y conservarlas. Recuerde tomar nota del número de solicitud de compra que aparecerá en la pantalla al confirmar su solicitud. Ese número identifica su transacción y será indispensable para realizar cualquier gestión a través de www.clothx.com
Los presentes Términos y Condiciones se aplican exclusivamente a todas las compras y actividades realizadas mediante el sitio www.clothx.com y/o de la aplicación de Clothx para [teléfonos celulares] y/o a través de cualquier otro canal de comercialización utilizado actualmente o que utilice en el futuro Clothx para ofrecer los productos de Clothx, y no así a las adquisiciones realizadas de modo presencial en alguno de los locales de Clothx y/o multimarcas.
<br>
CLOTHX está a disposición para esclarecer cualquier duda.

		</p>


			

			<!-- footer -->
			<%- include('partials/footer') %>
				<!-- /footer -->
	</body>

</html>