<!DOCTYPE html> <!-- EN USO-->
<html lang="en">

<%- include("./partials/head") %>

  <body>
    <!-- Header -->

    <%- include("./partials/header") %>

      <div class="caja-form">

        <h2 class="titulo">¡Hola! <br> Ingresá tu usuario y contraseña</h2>


        <form action="/users" method="POST" enctype="multipart/form-data">


          <div class="campos">
            <label for="nombre"> Email</label>
            <input type="text" name="email" id="">
          </div>


          <div class="campos">
            <label for="nombre"> Contraseña</label>
            <input type="password" name="pass" id="">
          </div>

          <div>
            <input class="boton" style="width: 93%;height: 30px;border-radius: 6px;margin-top: 5px;margin-bottom: 20px;margin-left: 4%;margin-right:4%;" type="submit">
          </div>




        </form>
        <div class="olvide-y-crear">
          <a href="/users/reestablecer">
            <p class="letra-olvide">Olvide mi contraseña</p>
          </a>
          <a href="/users/create">
            <p class="letra-olvide der">Crear cuenta</p>
          </a>
        </div>

      </div>





      <!-- footer -->

      <%- include("./partials/footer") %>


  </body>

</html>