<!DOCTYPE html><!-- EN USO-->
<html lang="en">
<link href="/css/stylesProductCreate.css" rel="stylesheet" type="text/css">
<%- include("./partials/head") %>

	<body>
		<%- include("./partials/header") %>
			<form action="/users" method="POST" enctype="multipart/form-data">

				<main></main>
				<div class="caja-form">
					<h2 class="titulo">¡Te damos la bienvenida a Clothx!</h2>
					<h3>Creá tu cuenta!</h3>

					<div class="campos">
						<input type="text" name="first_name" id="" placeholder="Nombre*" />
						<input type="text" name="last_name" id="" placeholder="Apellido*" />
						<input type="text" name="email" id="" placeholder="E-mail*" />
						<input type="text" name="phone" id="" placeholder="Teléfono*" />
						<input type="text" name="password" id="" placeholder="Contraseña*" />
						<input type="text"  id="" placeholder="Repetir contraseña*" />
						<div><label for="imageProduct" class="smallHeader">Imagen de Perfil</label>
						<input type="file" name="image" id="image" class="form-input"></div>
					</div>
					<br>
					<p class="">Al presionar Crear aceptás los <a href='/tyc'>Términos y Condiciones</a>.</p>

					<div class="campos">
						<input class="crear" type="submit" value="Crear">
					</div>
				</div>
			</form>
			<%- include("./partials/footer") %>
	</body>

</html>