<!DOCTYPE html> <!-- EN USO-->
<html lang="en">
 <link rel="stylesheet" type="text/css" href="/css/stylesDetail.css" />
  <!-- Head -->

  <%- include("./partials/head") %>

  <!-- Head -->
<body>
  <!-- Header -->
 
  <%- include("./partials/header") %>
  
    <hr>
    <main>

        <div class="container products-wrapper">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Listado de usuarios</h2>
                </div>
    
                <% usuarios.forEach(function(user){ 
                     
                %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <h2><%= user.first_name %></h2> 
                        </section>
                    </div>
                    <% }) %>
            
            </div>
        </div>


    </main>
    <hr>
    <footer>
        <p>Todo los terminos y derechos estan sujetos a Clothx</p>
    </footer>
</body>

</html>