«<!DOCTYPE html><!-- EN USO PERO HAY QUE MODIFICARLO-->
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
<form>
	<!-- todos los productos -->
<DIV><h1> FORMULARIO DE EDICION DE USUARIOS</h1></DIV>
	<!-- /todos los productos -->
</form>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>